.tg  {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
    table-layout: fixed;
}
.tg td{
    border-bottom-width:1px;
    border-color:black;
    border-style:solid;
    border-top-width:1px;
    border-width:0px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-0lax{
    text-align:left;
    vertical-align:top;
    white-space:normal;
}

img {
    border: 1px solid black;
    /* width: 200px; */
}
